# -----------------------------
# Virtual Environment
# -----------------------------
venv/
.venv/
env/
ENV/

# -----------------------------
# Data Folder (videos, datasets)
# -----------------------------
data/

# -----------------------------
# Model Weights
# -----------------------------
*.pt
*.pth
*.onnx
*.engine

# -----------------------------
# Python Cache
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Jupyter Notebook Checkpoints
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE / Editor
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Build / Distribution
# -----------------------------
build/
dist/
*.egg-info/